[Interface]
Address = ${CLIENT_ADDRESS}/32
PrivateKey = ${CLIENT_PRIVATE_KEY}
DNS = ${CLIENT_DNS}

[Peer]
PublicKey = ${SERVER_PUBLIC_KEY}
Endpoint = ${SERVER_ENDPOINT}:${SERVER_PORT}
AllowedIPs = ${CLIENT_ALLOWED_IPS}

PersistentKeepalive = 25
